body{
    background-color: orangered;

}
.bg-image{
    background-image: url("../images/cac.jpg");
    height: 100vh;
    filter:blur(3px);
    -weskit-filter:blur(3px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    


}

